@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: black;
    font-family: "Rubik";
}

.text-white {
    color: white;
    padding: 0px;
    margin: 0px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.user-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.flex-position-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}


/* Частина що відповідає за footer */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    background-color: #282828;
    border-radius: 15px;
    border-style: none;
}

.menu-btn-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3px;
    margin-inline: 10px;
    padding: 7px;
    background-color: #1f1f1f;
    border-radius: 20px;
    border-style: none;
}

.menu-btn {
    color: white;
    background-color: #4B4B4B;
    padding-inline: 12px;
    padding-block: 10px;
    border-radius: 20px;
    border-style: none;
}

.home-btn-style {
    transform: scale(1.2);
}

.menu-btn:hover {
    transform: scale(1.1);
    background-color: #6d6d6d;
}

.home-btn-style:hover {
    transform: scale(1.3);
    background-color: #6d6d6d;
}

.menu-btn:active {
    transform: scale(0.9);
    background-color: #313131;
}

.home-btn-style:active {
    transform: scale(1.0);
    background-color: #313131;
}

.short-all-sort {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 160px;
    margin: 40px;
}

.second-add {
    width: 150px;
    font-size: 14px;
}

.blue-color {
    color: rgb(0, 162, 255);
    font-size: 14px;
    font-weight: 600;
}

/* Частина з балансом  */

.balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.flex-balance-x {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.statistic-text {
    padding-inline: 5px;
    color:rgb(16, 175, 30);
    background-color: #333333;
    border-radius: 10px;
    border-style: none;
    padding-inline: 8px;
    padding-block: 4px;
    font-weight: 700;
    margin: 4px;
}

.text-masage {
    font-size: 100;
    font-size: 13px;
    color: #cecccc;
    margin: 2px;
}

.text_to_btn {
    font-size: 14px;
    font-weight: 400;
}

.text-a-walet {
    font-size: 18px;
    font-weight: 300px;
}

/* Кнопки */
.btn-y {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.btn-style {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    margin: 2px;
    margin-bottom: 4px;
    background-color: #4B4B4B;
}

.btn-style:hover {
    transform: scale(1.1);
    background-color: #6d6d6d;
}

.btn-style:active {
    transform: scale(0.9);
    background-color: #313131;
}

/* Картка з коіном */

.card {
    display: flex;
    align-items: center;
    width: 350px;
}

.card-line-x {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 15px;
    margin-block: 3px;
}

.coin-and-price-style {
    font-weight: 500;
}

.prise-to-dollar {
    font-size: 13px;
    font-weight: 300;
}

.line {
    display: flex;
    justify-content: center;
    width: 320px;
    padding: 0.5px;
    background-color: #8f8d8d;
    margin: 10px;
}